.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input, select, button {
  outline: none;
}

button {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden
}



/* Question Filter */

.questionFilter {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input, .filterContainer {
  width: 50%;
  height: 50px;
  padding: 0 30px;
  border: none;
  background-color: white;
  border-radius: 30px;
}

.filterContainer select {
  width: 100%;
  height: 50px;
  border: none;
  background: none;
}

.filterButton {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: greenyellow;
}

/* Answer */

.optionsContainer {
  width: 50%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.boolean-option-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.boolean-option, .multiple-option {
  width: 45%;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: white;
}

.boolean-option:nth-child(1) {
  background-color: green;
}

.boolean-option:nth-child(2) {
  background-color: red;
}

.multiple-option:nth-child(1) {
  background-color: #2326cc;
}

.multiple-option:nth-child(2) {
  background-color: #f542cb;
}

.multiple-option:nth-child(3) {
  background-color: #de8900;
}

.multiple-option:nth-child(4) {
  background-color: #06a600;
}

/* Answer Result */

.answerResult button {
  width: 20%;
  height: 30px;
  border: none;
  border-radius: 20px;
}

.correct {
  color: green;
}

.correct button {
  background-color: green;
}

.wrong {
  color: red
}

.wrong button {
  background-color: #cc1010;
}

.resultIconContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.resultIconContainer p {
  margin: 5px 0;
}

.resultIconContainer p:last-child {
  margin-bottom: 10px;
}



.resultIcon {
  width: 30px;
  height: auto;
  margin: auto 10px;
}

.resultIcon img {
  width: 100%;
  height: auto;
}
