.App {
  text-align: center;
}

/* Question Filter */

.questionFilter {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}