.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to bottom, #ff4ad8, black);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat, Helvetica;
}

input, select, button {
  outline: none;
}

button {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden
}



/* Question Filter */

.trivia-container {
  flex: 2;
}

.questionFilter {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input, .filterContainer {
  width: 50%;
  height: 50px;
  padding: 0 30px;
  border: none;
  /* background-color: #992c82; */
  background-color: black;
  border-radius: 30px;
}

input, .filterContainer select {
  color: #ff4ad8;
}

input::placeholder {
  color: #992c82;
}

.filterContainer select {
  width: 100%;
  height: 50px;
  border: none;
  background: none;
}

.filterButton {
  width: 25%;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #992c82;
  color: black;
  font-weight: bold;
}

/* Quiz */

.quizStatus {
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
}

.question {
  width: 50%;
  margin: 10px auto;
  font-size: 17px;
}

/* Answers */

.answerResult-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 20vh;
}

.optionsContainer {
  width: 50%;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.boolean-option-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.boolean-option, .multiple-option {
  width: 45%;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: #ff4ad8;
  background-color: black;
  font-family: Montserrat;
  font-weight: bold;
}

/* Answer Result */

.answerResult {
  color: white
}

.answerResult button {
  width: 30%;
  height: 40px;
  border: none;
  border-radius: 30px;
  background-color: #992c82;
  color: white;
  font-weight: bold;
}

.resultIconContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
}

.resultIconContainer p {
  margin: 5px 0;
}

.resultIconContainer p:last-child {
  margin-bottom: 10px;
}

.resultIcon {
  width: 30px;
  height: auto;
  margin: auto 10px;
}

.resultIcon img {
  width: 100%;
  height: auto;
}

/* Quiz Finished */

.quizFinished h3 {
  color: black;
}

.restartButton {
  width: 30%;
  height: 50px;
  border-radius: 30px;
  background-color: black;
  border: none;
  color: #ff4ad8;
  font-weight: bold;
}


/* Responsive CSS */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  h2 {
    font-size: 15px;
    width: 80%;
    margin: 15px auto;
  }

  /* Question Filter */

  .questionFilter {
    width: 100%;
    justify-content: space-around;
  }

  input, .filterContainer {
    width: 70%;
    height: 12%;
    padding: 0 15px;
  }

  .filterContainer select {
    height: 100%;
  }

  input, .filterContainer select {
    font-size: 8px;
  }

  .filterButton {
    width: 50%;
    height: 12%;
  }

  .errorMessage {
    width: 80%
  }

  .errorMessage p {
    font-size: 10px;
  }

  /* Quiz */

  .questionContainer {
    display: flex;
    flex-direction: column;
  }

  .quizStatus {
    margin-bottom: 0;
    font-size: 12px;
  }

  .question {
    margin-top: 0;
    width: 85%;
    font-size: 14px;
  }

  .optionsContainer {
    width: 80%;
    height: 200px;
    display: flex;
    flex-direction: column;

  }

  .resultIconContainer {
    width: 80%;
    margin-top: 0;
  }

  .resultIconContainer p {
    width: 100%;
    font-size: 12px;
  }

  .resultIconContainer article p:first-child {
    display: none;
  }

  /* Answers */

  .answers {
    display: flex;
    flex-direction: column;
  }

  .multiple-option {
    width: 100%;
    height: 20%;
    margin: 5px auto;
    font-size: 8px;
    padding: 0 15px;
  }

  .boolean-option-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .boolean-option {
    width: 100%;
    height: 40px;
    margin: 10px auto;
  }

  .largeAnswer {
    font-size: 6px;
  }

  /* Answer Result */

  .answerResult-container {
    height: 20vh;
  }

  .resultIcon {
    width: 20px;
    height: auto;
  }

  .answerResult button {
    width: 70%;
    height: 30px;
    font-size: 10px;
  }

  /* Quiz Finished */

  .restartButton {
    width: 75%;
    height: 40px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
